 :root {
    --main: #27262d;
    --accent: #FFFFFF;
    --gradient: linear-gradient(90deg, rgba(63,61,72,1) 0%, rgba(47,46,53,1) 27%, rgba(39,38,45,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Halant', serif;
   }

a {    
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
li {
    padding: 25px;
    font-family: 'Nunito Sans', serif;
}
.container {   
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.nav-content {
    background-color:none;
    padding: 0 15px 0;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
img {
    margin-right: 700px;
}
.nav li a {    
    letter-spacing: 1px;
}
.nav li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--accent);
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}
.nav li:last-child {
    padding-right: 0;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
} 

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.content-left {
    width: 80%;
}

main h1 {
    font-size: 54px;
    color: var(--accent);
    text-transform: uppercase;
}

main p {
    font-size: 20px;
    font-weight: 400;
    color: var(--accent);
    line-height: 31.5px;
    margin: 30px 0;
}

.cta {
    padding: 15px 30px;
    background: none;
    color: var(--accent);
    outline: none;
    border: solid var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    width: 40%;
    letter-spacing: 6px;
}

.cta:hover{
    background: var(--accent);
    color: black;
    border: solid var(--main);
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .container .nav {
        flex-direction: column;
    }
    .nav .logo {
        margin-bottom: 10px;
    }
    .container .nav li {
        padding: 1rem 1rem;
    }
    .container {
        width: 100%;
        padding-top: 85px;
    }
    .nav-content {
        padding: 0 0 0;
    }
    video {
        height: 100vh;
        width: 100%;
    }
    img {
        margin-right: auto;
    }
    .content-left {
        width: 90%;
    }
    
    main h1 {
        font-size: 43px;
    }
    
    main p {
        font-size: 18px;
        font-weight: 400;
    }
    
    .cta {
        padding: 15px 30px;
        background: none;
        color: var(--accent);
        outline: none;
        border: solid var(--accent);
        font-weight: 700;
        text-transform: uppercase;
        width: 90%;
        letter-spacing: 5px;
    }
}

@media (max-width: 500px) {
    video {
        height: 100vh;
        width: 100%;
    }
}
 
@media (max-width: 768px) {

}