:root {
    --main: #27262d;
    --accent: #FFFFFF;
    --gradient: linear-gradient(90deg, rgba(63,61,72,1) 0%, rgba(47,46,53,1) 27%, rgba(39,38,45,1) 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: var(--accent);
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: var(--accent);
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: var(--accent);
    transition:all .5s;
}

li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    /* border-top: 1px solid var(--accent); */
    height: calc(100vh - 200px);
    align-items: center;
    justify-content: center;
}

/* .tbird-img{
    max-width: 300px;
    height: auto;
} */

.content-left {
    width: 80%;
}

main h1 {
    font-size: 54px;
    color: var(--accent);
    text-transform: uppercase;
}

main p {
    font-size: 20px;
    font-weight: 400;
    color: var(--accent);
    line-height: 31.5px;
    margin: 30px 0;
}

.cta {
    padding: 15px 30px;
    background: none;
    color: var(--accent);
    outline: none;
    border: solid var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    width: 40%;
}

.cta:hover {
    background: var(--accent);
    color: var(--main);
    border: solid var(--main);
    cursor: pointer;
}

  video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -999;
  }

  /*using media queries to make it responsive  */


  