:root {
  --main: #27262d;
  --accent: #FFFFFF;
  --gradient: linear-gradient(90deg, rgba(63,61,72,1) 0%, rgba(47,46,53,1) 27%, rgba(39,38,45,1) 100%);
  --cta: #41678A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Halant", serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 25px;
  font-family: "Nunito Sans", serif;
}

.containerr {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.nav-content.sticking {
  background: var(--main);
}

ol, ul {
  padding-left: 0px;
}

.nav-content,
.nav-content * {
  transition: 250ms;
}

.nav-content {
  background-color: none;
  padding: 0 15px 0;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}

img {
  margin-right: 700px;
  padding-bottom: 20px;
}

.nav li a {
  letter-spacing: 1px;
}

.nav li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--cta);
  transition: all 0.5s;
}

li a:hover::after {
  width: 100%;
}

.nav li:last-child {
  padding-right: 0;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content-left {
  width: 80%;
}

main h1 {
  font-size: 54px;
  color: var(--accent);
  text-transform: uppercase;
}

main p {
  font-size: 20px;
  font-weight: 400;
  color: var(--accent);
  line-height: 31.5px;
  margin: 30px 0;
}

.cta {
  padding: 15px 30px;
  background: none;
  color: var(--accent);
  outline: none;
  border: solid var(--accent);
  font-weight: 700;
  text-transform: uppercase;
  width: 40%;
  letter-spacing: 6px;
}

.cta:hover {
  background: var(--accent);
  color: black;
  border: solid var(--main);
  cursor: pointer;
}

/* LANDING-SERVICES SECTION STYLING!! */
.services {
  background: var(--accent);
  min-height: 100%;
}

#header {
  padding-top: 150px;
}

#header > h1 {
  text-align: center;
  font-size: 54px;
  color: var(--main);
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.ag-services_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-services_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-services-item_link {
  display: block;
  padding: 30px 20px;
  background-color: var(--main);
  overflow: hidden;
  position: relative;
}

.ag-services-item_link:hover,
.ag-services-item_link:hover .ag-services-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-services-item_link:hover .ag-services-item_bg {
  transform: scale(10);
}

.ag-services-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.ag-services-item_bg {
  height: 128px;
  width: 128px;
  background-color: #4F7CAC;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.ag-services_item:nth-child(2n) .ag-services-item_bg {
  background-color: #41678A;
}

.ag-services_item:nth-child(3n) .ag-services-item_bg {
  background-color: #3A5C79;
}

.ag-services_item:nth-child(4n) .ag-services-item_bg {
  background-color: #335167;
}

.ag-services_item:nth-child(5n) .ag-services-item_bg {
  background-color: #3D596E;
}

.ag-services_item:nth-child(6n) .ag-services-item_bg {
  background-color: #466175;
}

.business {
  min-height: 706px;
  background-color: var(--accent);
}

.demo-bg {
  background: var(--cta);
  padding-top: 70px;
  padding-bottom: 70px;
}

.business-hours {
  background: var(--main);
  padding: 40px 14px;
  position: relative;
}

.business-hours:before {
  content: "";
  width: 23px;
  height: 23px;
  background: #111;
  position: absolute;
  top: 5px;
  left: -12px;
  transform: rotate(-45deg);
  z-index: -1;
}

.business-hours .title {
  font-size: 43px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid var(--cta);
}

.business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333;
}

.business-hours li:last-child {
  border-bottom: none;
}

.business-hours .opening-hours li.today {
  color: var(--cta);
}

.col-sm-4 {
  background: #000;
}

.container {
  background-color: var(--main);
  width: 100vw;
}

.nav-item {
  padding: 0px;
}

.text-body-secondary {
  color: var(--accent) !important;
  font-size: 15px;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 100vw;
  }
}
@media only screen and (max-width: 979px) {
  .ag-services_item {
    flex-basis: calc(50% - 30px);
  }
  .ag-services-item_title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-services_item {
    flex-basis: 100%;
  }
  .ag-services-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-services-item_link {
    padding: 22px 40px;
    height: 92px;
  }
  .ag-services-item_date-box {
    font-size: 16px;
  }
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
  .containerr .nav {
    flex-direction: column;
  }
  .nav .logo {
    margin-bottom: 10px;
  }
  .containerr .nav li {
    padding: 1rem 1rem;
  }
  .containerr {
    width: 100%;
    padding-top: 85px;
  }
  .nav-content {
    padding: 0 0 0;
    height: 160px;
    width: 100%;
  }
  video {
    height: 100vh;
    width: 100%;
  }
  img {
    margin-right: auto;
  }
  .content-left {
    width: 90%;
  }
  main h1 {
    font-size: 43px;
  }
  main p {
    font-size: 18px;
    font-weight: 400;
  }
  .cta {
    padding: 15px 30px;
    background: none;
    color: var(--accent);
    outline: none;
    border: solid var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    width: 90%;
    letter-spacing: 5px;
  }
  #header > h1 {
    text-align: center;
    font-size: 43px;
    color: var(--main);
  }
  .demo-bg {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  video {
    height: 100vh;
    width: 100%;
  }
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */